.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 2em;
    background-color: rgb(33, 35, 36);
    color: white;
    font-size: 20px;
    height: 110px;
}

.cabecalho img {
    width: 90px;
    height: 60px;
}

/* todos os links da nav */
.cabecalho a {
    text-decoration: none;
    color: white;
    margin: 0 30px; /* espaçamento entre links */
}

/* hover */
.cabecalho a:hover {
    color: rgb(92, 168, 156);
}

/* link ativo */
.cabecalho a.active {
    color: rgb(92, 168, 156); /* mesma cor do hover ou outra que quiser */
    font-weight: bold;         /* deixa o ativo em negrito */
}
